html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  
}
a{
    font-family: Courier;
    color:#f8f1f1;
   
}
a:hover {
    
    color: #59886b;
  }
a{
    font-family: Courier;
   
}
.fa:hover
{
    text-decoration: none;
}
.fa-envelope:hover
{
    color: #D83F34;
  
    
} 
.fa-twitter:hover {
    color: #55ACEE;
 
  }
.fa-linkedin:hover {
    color: #55ACEE;
}
.fa-instagram:hover{
   
    color: orange;
}
p{
    font-family: Courier;
}
